<!DOCTYPE html>
<html>
<title>customer segmentation</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<head>
<script type="text/javascript">window.setTimeout("document.getElementById('successMessage').style.display='none';", 6000); </script>
</head>
<style>
a:link {
  float:right;
  font-size:20px;
}
</style>

<body>
<div class="w3-container w3-blue">
 <i> <h2>Enter the details  <a href="http://127.0.0.1:5000/" >Home Page</a></h2></i>
</div>

<div class="flashwrapper" id="successMessage" >
                    {% with messages = get_flashed_messages(with_categories=True) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div id=flashwrapper class="alert alert-{{ category }} alert-dismissible" role="alert" style="padding: 12px;border-radius: 3pfont-size: 1.2rem;margin-bottom: 16px;border: 2px solid darkred;background-color:#FFE4C4;color:#B22222 ;">
								{{ message }}
                                </div>
                          {% endfor %}
             {% endif %}
        {% endwith %}
</div>


<form class="w3-container" action= "/create"  method="POST"> 

  <p>
  <label>Invoice Number:</label>
  <input class="w3-input" name="InvoiceNo" type="number" required></p>
  
  <p>
  <label>Stock Code:</label>
  <input class="w3-input" type="text" name="StockCode" required></p>
  
  <select class="w3-select w3-border" name="Description" required>
    <option value="" disabled selected>Description</option>
    <option value="1">White Hanging Heart T-Light Holder</option>
    <option value="2">White Metal Lantern</option>
    <option value="3">Mini Paint Set Vintage</option>
  </select>
  
  <p>
  <label>Quantity</label>
  <input class="w3-input" type="number" name="Quantity" required></p>
  
  <p>
  <label>Invoice Date:</label>
  <input class="w3-input" type="datetime-local" name="InvoiceDate" required></p>
  
  <p>
  <label>Unit Price</label>
  <input class="w3-input" name="UnitPrice" type="number" min="0" value="0" step="0.01" required></p>
  
  <p>
  <label>Customer ID</label>
  <input class="w3-input" name="CustomerID" type="number" required></p>
  
  <p>
  <label>Country</label>
  <input class="w3-input" name="Country" type="text" pattern="[a-zA-Z'-'\s]*" required></p>
  
  <p>
  <button class="w3-container w3-blue">Submit</button></p>


</form>

</body>
</html> 