<!DOCTYPE html>
<html>
<title>delete item</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container w3-blue">
  <h2>Enter the details</h2>
</div>

<form class="w3-container" action="/delete">
  <p>
  <label>Invoice Number:</label>
  <input class="w3-input" type="number" name="InvoiceNo" required></p>
  
  <p>
  <label>Stock Code:</label>
  <input class="w3-input" type="number" name="StockCode" required></p>
  
  <p>
  <button class="w3-container w3-blue">Delete item</button></p>
  
</form>

</body>
</html> 
